{% load static %}

{% block extra_css %}
<style>
.headerarea__main__menu nav ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  white-space: nowrap;
}
.headerarea__main__menu nav ul li {
  flex: 0 1 auto;
}
</style>
{% endblock extra_css %}

<header>
  <div class="headerarea headerarea__3 header__sticky header__area">

    <div class="container desktop__menu__wrapper">

      <div class="row">
        
        <!-- Logo -->
        <div class="col-xl-2 col-lg-2 col-md-6">
          <div class="headerarea__left">
            <div class="headerarea__left__logo">
              <a href="/"><img loading="lazy" src="{% static 'img/logo/logo.jpg' %}" alt="logo" width=120></a>
            </div>
          </div>
        </div>

        <div class="col-xl-7 col-lg-7 main_menu_wrap">
          <div class="headerarea__main__menu">
            <nav>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'course_list' %}">Short Courses</a></li>
                {% comment %} <li><a href="{% url 'training_list' %}">Training</a></li> {% endcomment %}

                <li>
                  <a class="headerarea__has__dropdown" href="#">Training
                    <i class="icofont-rounded-down"></i>
                  </a>
                  <ul class="headerarea__submenu d-flex flex-column">
                    <li><a href="{% url 'online_training_list' %}">Online</a></li>
                    <li><a href="{% url 'training_list' %}">Offline</a></li>
                  </ul>
                </li>

                <li><a href="{% url 'intern_list' %}">Internship</a></li>
                <li><a href="{% url 'thesis_list' %}">Thesis Support</a></li>
                <li><a href="{% url 'research_papers' %}">Research</a></li>
                <li>
                  <a class="headerarea__has__dropdown" href="#">Blogs
                    <i class="icofont-rounded-down"></i>
                  </a>
                  <ul class="headerarea__submenu d-flex flex-column">
                    <li><a href="{% url 'blog_list' %}">Blog Posts</a></li>
                    <li><a href="{% url 'vlog_list' %}">Video Posts</a></li>
                  </ul>
                </li>

                
                {% if user.is_authenticated %}
                <li><a href="{% url 'student_dashboard' %}">Dashboard</a></li>
                {% endif %}


                {% if not user.is_authenticated %}
                <li><a href="{% url 'user_login' %}"><i class="icofont-user-alt-5"></i></a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li>
                  <a href="{% url 'user_logout' %}"><i class="icofont-logout border border-2 p-2 rounded"></i></a>
                </li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
      </div>

    </div>


    <div class="container-fluid mob_menu_wrapper">
      <div class="row align-items-center">
        <div class="col-6">
          <div class="mobile-logo">
            <a href="/"><img loading="lazy" src="{% static 'img/logo/logo.jpg' %}" alt="logo" width=70></a>
          </div>
        </div>
        <div class="col-6">
          <div class="header-right-wrap">
            <div class="mobile-off-canvas">
              <a class="mobile-aside-button" href="#"><i class="icofont-navigation-menu"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  {% if messages %}
  <div class="container mt-3">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
  {% endif %}

</header>



