<div id="topbar" class="py-2 text-white text-end">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="list-unstyled mb-0">
          <li>
            <a href="https://dawnofbioinformatics.com/" target="_blank">Dawn of Bioinformatics <i class="icofont-long-arrow-right"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  const topbar = document.getElementById('topbar');
  const isDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
  topbar.style.backgroundColor = isDark ? '#0d1b2a' : '#212529';
</script>
