<div class="topbararea topbararea--2">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <div class="topbar__left">
          <ul>
            <li>
              <i class="icofont-phone"></i>
              Call Us: +880 1517 831 136 
            </li>
            <li>
              <i class="icofont-email ms-3"></i>
              Mail Us: dawn.of.bioinformatics@gmail.com
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="topbar__right">
          <div class="topbar__icon">
            <i class="icofont-location-pin"></i>
          </div>
          <div class="topbar__text">
            <p>Staff Quarter, Dhaka, Bangladesh</p>
          </div>
          <div class="topbar__list">
            <ul>
              <li>
                <a href="https://www.facebook.com/ibaidob"><i class="icofont-facebook"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


