{% extends 'base.html' %}

{% load static i18n %}

{% block title %}Course List{% endblock %}


{% block extra_css %}
<style>
    .gridarea__wraper .gridarea__img {
        height: 200px; /* choose the height you want */
        overflow: hidden;
        position: relative;
    }

    .gridarea__wraper .gridarea__img img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* ensures the image fills the container */
        display: block;
    }
</style>
{% endblock extra_css %}
    

{% block content %}
{% comment %} {% include 'partials/theme-switch.html' %} {% endcomment %}

<main class="main_wrapper overflow-hidden">

    <!-- topbar__section__stert -->
    {% include 'partials/top-banner.html' %}
    <!-- topbar__section__end -->

    <!-- headar section start -->
    {% include 'partials/navbar.html' %}
    <!-- header section end -->

    <!-- Mobile Menu Start Here -->
    {% include 'partials/mobile-menu.html' %}
    <!-- Mobile Menu end Here -->

    <!-- theme fixed shadow -->
    <div>
        <div class="theme__shadow__circle"></div>
        <div class="theme__shadow__circle shadow__right"></div>
    </div>
    <!-- theme fixed shadow -->
    <!-- breadcrumbarea__section__start -->

    <div class="breadcrumbarea">

        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb__content__wraper" data-aos="fade-up">
                        <div class="breadcrumb__title">
                            <h2 class="heading">Courses List</h2>
                        </div>
                        <div class="breadcrumb__inner">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li>Courses List</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="shape__icon__2">
            <img loading="lazy" class=" shape__icon__img shape__icon__img__1"
                src="{% static 'img/herobanner/herobanner__1.png' %}" alt="photo">
            <img loading="lazy" class=" shape__icon__img shape__icon__img__2"
                src="{% static 'img/herobanner/herobanner__2.png' %}" alt="photo">
            <img loading="lazy" class=" shape__icon__img shape__icon__img__3"
                src="{% static 'img/herobanner/herobanner__3.png' %}" alt="photo">
            <img loading="lazy" class=" shape__icon__img shape__icon__img__4"
                src="{% static 'img/herobanner/herobanner__5.png' %}" alt="photo">
        </div>

    </div>
    <!-- breadcrumbarea__section__end-->

    <!-- course__section__start -->
    <div class="coursearea sp_top_100 sp_bottom_100">
        <div class="container">

            <!-- Section Header -->
            <div class="row">
                <div class="col-xl-12">
                    <div class="course__text__wraper" data-aos="fade-up">
                        <div class="course__text">
                            <p>Showing 1–{{ total_courses }} of {{ total_courses }} Results</p>
                        </div>
                        <div class="course__icon">
                            <ul class="nav property__team__tap" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a id="projects__one-tab" href="javascript:void(0)" class="single__tab__link active" data-bs-toggle="tab" data-bs-target="#projects__one" role="tab" aria-controls="projects__one" aria-selected="false">
                                        <i class="icofont-layout"></i>
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a id="projects__two-tab" href="javascript:void(0)" class="single__tab__link" data-bs-toggle="tab" data-bs-target="#projects__two" role="tab" aria-controls="projects__two" aria-selected="true">
                                        <i class="icofont-listine-dots"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tab Content -->
            <div class="row">
                <div class="col-xl-12">
                    <div class="tab-content tab__content__wrapper" id="myTabContent">

                        <!-- Grid View Tab -->
                        <div class="tab-pane fade show active" id="projects__one" role="tabpanel" aria-labelledby="projects__one-tab">
                            <div class="row">
                                {% for course in courses %}
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12" data-aos="fade-up">
                                    <div class="gridarea__wraper gridarea__wraper__2">
                                        <div class="gridarea__img">
                                            <a href="{% url 'course_detail' course.slug %}">
                                            {% if course.thumbnail %}
                                                <img loading="lazy" src="{{ course.thumbnail.url }}" alt="{{ course.title }}">
                                            {% endif %}
                                            </a>
                                            <div class="gridarea__small__button">
                                                <div class="grid__badge">{{ course.category.name }}</div>
                                            </div>
                                            <div class="gridarea__small__icon">
                                                <a href="#"><i class="icofont-heart-alt"></i></a>
                                            </div>
                                        </div>
                                        <div class="gridarea__content">
                                            <div class="gridarea__list">
                                                <ul>
                                                    <li><i class="icofont-book-alt"></i> {{ course.total_videos }} Lectures</li>
                                                    <li><i class="icofont-clock-time"></i> {{ course.total_duration }} min</li>
                                                </ul>
                                            </div>
                                            <div class="gridarea__heading">
                                                <h3><a href="{% url 'course_detail' course.slug %}">{{ course.title }}</a></h3>
                                            </div>
                                            <div class="gridarea__price">
                                                ৳{{ course.price }} {% if course.original_price %}<del>/ ৳{{ course.original_price }}</del>{% endif %}
                                                {% if course.price > 0 %}
                                                    <span class="text-danger small"></span>
                                                {% else %}
                                                    <span class="text-success small">Free</span>
                                                {% endif %}
                                            </div>
                                            <div class="gridarea__bottom">
                                                {% with first_instructor=course.instructor.all|first %}
                                                {% if first_instructor %}
                                                
                                                    <div class="gridarea__small__img">
                                                        {% if first_instructor.profile_picture %}
                                                            <img loading="lazy" src="{{ first_instructor.profile_picture.url }}" alt="instructor" width="50" height="50" style="max-width: fit-content;">
                                                        {% else %}
                                                            <img loading="lazy" src="{% static 'img/profile.png' %}" alt="instructor">
                                                        {% endif %}
                                                        <div class="gridarea__small__content">
                                                            <h6>{{ first_instructor.first_name }}</h6>
                                                        </div>
                                                    </div>
                                                
                                                {% endif %}
                                                {% endwith %}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                <p>No courses available yet.</p>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- List View Tab -->
                        <div class="tab-pane fade" id="projects__two" role="tabpanel" aria-labelledby="projects__two-tab">
                            {% for course in courses %}
                            <div class="gridarea__wraper gridarea__wraper__2 gridarea__course__list" data-aos="fade-up">
                                <div class="gridarea__img">
                                    <a href="{% url 'course_detail' course.slug %}">
                                        {% if course.thumbnail %}
                                            <img loading="lazy" src="{{ course.thumbnail.url }}" alt="{{ course.title }}">
                                        {% endif %}
                                        
                                    </a>
                                    <div class="gridarea__small__button">
                                        <div class="grid__badge">{{ course.category.name }}</div>
                                    </div>
                                    <div class="gridarea__small__icon">
                                        <a href="#"><i class="icofont-heart-alt"></i></a>
                                    </div>
                                </div>
                                <div class="gridarea__content">
                                    <div class="gridarea__list">
                                        <ul>
                                            <li><i class="icofont-book-alt"></i> {{ course.total_videos }} Lectures</li>
                                            <li><i class="icofont-clock-time"></i> {{ course.total_duration }} min</li>
                                        </ul>
                                    </div>
                                    <div class="gridarea__heading">
                                        <h3><a href="{% url 'course_detail' course.slug %}">{{ course.title }}</a></h3>
                                    </div>
                                    <div class="gridarea__price mt-2">
                                        ৳{{ course.price }} {% if course.original_price %}<del>/ ৳{{ course.original_price }}</del>{% endif %}
                                        {% if course.price > 0 %}
                                            <span class="text-danger small"></span>
                                        {% else %}
                                            <span class="text-success small">Free</span>
                                        {% endif %}
                                    </div>
                                    <div class="gridarea__bottom">
                                        <div class="gridarea__bottom__left">
                                            {% with first_instructor=course.instructor.all|first %}
                                            {% if first_instructor %}
                                            <a href="#">
                                                <div class="gridarea__small__img">
                                                        {% if first_instructor.profile_picture %}
                                                            <img loading="lazy" src="{{ first_instructor.profile_picture.url }}" alt="instructor" width="50" height="50" style="max-width: fit-content;">
                                                        {% else %}
                                                            <img loading="lazy" src="{% static 'img/profile.png' %}" alt="instructor">
                                                        {% endif %}
                                                    <div class="gridarea__small__content">
                                                        <h6>{{ first_instructor }}</h6>
                                                    </div>
                                                </div>
                                            </a>
                                            {% endif %}
                                            {% endwith %}
                                        </div>
                                        <div class="gridarea__details">
                                            <a href="{% url 'course_detail' course.slug %}">Details
                                                <i class="icofont-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <p>No courses available yet.</p>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- course__section__end -->



    {% include 'partials/footer.html' %}
</main>

{% endblock %}

{% block extra_javascript %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const headings = document.querySelectorAll(".gridarea__heading");
        let maxHeight = 0;

        // 1️⃣ Find the tallest heading
        headings.forEach(h => {
            const height = h.offsetHeight;
            if (height > maxHeight) maxHeight = height;
        });

        // 2️⃣ Apply that height to all
        headings.forEach(h => {
            h.style.height = maxHeight + "px";
        });
    });
</script>
{% endblock extra_javascript %}



